/* TableList.css */

.table-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top:60px ;
}

.table-card {
  background-color: #f4f4f4; /* Default color for tables with no payment */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height:156px;
  width:156px;
}

.table-card.payment-due {
  background-color: #f9d6d5; /* Color for tables with payments due */
}
.table-button {
  background-color: #f4f4f4;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.payment-button {
  background-color: #218838;
  color: #ffff;
  border: none;
  padding: 10px 20px;
  margin-top:80px;
  cursor: pointer;
  border-radius: 5px;
  width: 156px;
}

.payment-button:hover {
  background-color: #218838;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.save-payment-button, .close-modal-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.save-payment-button {
  background-color: #28a745;
  color: white;
}

.close-modal-button {
  background-color: #dc3545;
  color: white;
}

.save-payment-button:hover {
  background-color: #218838;
}

.close-modal-button:hover {
  background-color: #c82333;
}
